@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

label sup {
  font-size: 14px;
  color: #c7000b;
  top: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.bg-background-image {
  background-image: url("/LMIVessel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-datepicker input {
  width: 100%; /* Sesuaikan dengan lebar yang diinginkan */
  max-width: 300px; /* Sesuaikan dengan kebutuhan Anda */
}
